*{
    font-size: 16px;
}

body{
    background-image: url(../img/formbg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: sans-serif;
    color: white;
    height: 120vh;
}

.container{
  width: 100%;
  margin: 3.2rem auto 0 auto;
}

@media(min-width: 576px){
  .container{
    max-width: 540px;
  }
}

@media(min-width: 768px){
  .container{
    max-width: 720px
  }
}

header{
    text-align: center;
    margin-bottom: 1.5rem;
}

#title{
  font-weight: 800;
  font-size: 3em;
  text-transform: uppercase;
}

.infoes {
    font-size: 2em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;

}
#survey-form{
    background: rgba(116, 84, 116, 0.457);
    padding: 1rem 0.5rem;
    border-radius: 0.8rem;
 }
 
 .form-input{
    margin: 0 2.5rem 1.2rem 2rem;
 }
 
 .form-input-size{
    display: block;
    width: 100%;
    height: 1.8rem;
    padding: 0.3rem 0.4rem;
    border-radius: 0.2rem;
    outline: 0;
    border-style: none;
    margin-top: 0.4rem;  
 }

 #dropdown {
    height: 2.3rem;
    margin-bottom: -0.7em;
    width: 102%;
 }

 p{
    font-size: 1.12rem;
   }
   
   #radio-btn,
   #check-box {
    margin-right: 0.5rem;
    min-height: 1.2rem;
    min-width: 1.2rem;
   }
   
   label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: -0.16rem;
    text-transform: uppercase;
   }
   
   textarea{
    width: 101%;
    min-height: 6rem;
    max-height: 10rem;
    resize: vertical;
    padding: 0.5rem 0 0 0.5rem;
    border-radius: 0.5em;
    margin-top: 0.3em;
    border: none;
    resize: none;
    outline: none;
    box-shadow: inset;
    font-family: sans-serif;
    font-weight: 500;
   }
   
   #submit{
    width: 103%;
    padding: 0.8rem;
    background: rgb(141, 81, 225);
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-weight: 900;
   }